<!doctype html>
<style>
    .line-chart
    {
        border: 1px solid lightgray;
    }
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
</style>

<html>
    <head>
        <title>Event Registration</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/css/app.css"/>
        <script src='/lib/jquery.min.js'></script>
        <script src='/lib/underscore-1.4.4.min.js'></script>
        <script src='/lib/bootstrap.min.js'></script>
        <script src='/lib/angular/angular.js'></script>
        <script src="http://cdn.jsdelivr.net/d3js/3.3.9/d3.min.js"></script>
        <script src='/js/app.js'></script>
        <script src='/js/controllers/EventController.js'></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar">
                <ul class="nav">

                </ul>
            </div>
            <div ng-controller="EventController">
                    <svg ng-attr-height="{{graph.height}}" ng-attr-width="{{graph.width}}">
                        <g>
                            <path class="line" ng-attr-d="{{line(points)}}"></path>
                            <text ng-repeat="data in chartPoints"
                                    x="0"
                                    ng-attr-y="6"
                                    ng-attr-dy="0.71em"
                                    ng-attr-fill="#000"
                                    font-size="16px"
                                    text-anchor="end"
                                    ng-attr-transform="translate(0, 100)"
                                    ng-bind="data.x">

                                </text>
                            </g>
                        </svg>
                        <br/>
                    <div class="btn btn-default" ng-click="drawChart1()">
                        Draw Graph
                    </div>
  
                   
                <div class="row">
                    <div class="spann1">
                        <h2>{{event.name}}</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        <div><strong>Date:</strong> {{event.date}} </div>
                        <div><strong>Date:</strong> {{event.time}}  </div>
                    </div>
                    <div class="span4">
                        <address>
                            <strong>Address: </strong> <br/>
                            {{event.location.address}} <br/>
                            {{event.location.city}},  {{event.location.Province}}
                        </address>
                    </div>
                </div>
                <hr/>
                <h3>Sessions</h3>
                <ul class="thumbnails">
                    <li ng-repeat="session in event.sessions">
                        <div class="span0 well votingWidget">
                            <div class="votingButton" ng-click="upVoteSession(session)">
                                <i class="icon-chevron-up icon-white"></i>
                            </div>
                            <div class="badge badge-inverse">
                                <div>{{session.upVoteCount}}</div>
                            </div>
                            <div class="votingButton" ng-click="downVoteSession(session)">
                                <i class="icon-chevron-down"></i>
                            </div>
                        </div>
                        <div class="row session">
                            <div class="well span9">
                                <h4 class="well-title">{{session.name}}</h4>
                                <h6{{session.creatorName}}></h6>
                                <span>Duration: {{session.duration}}</span> <br/>
                                <span>Level: {{session.level}}</span>
                                <p>{{session.abstract}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
               
            </div>
        </div>
       
    </body>

  
    
</html>